.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  background-color: aliceblue;
  width: 650px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.scene::after {
  content: ' ';
  background-color: gainsboro;
  width: 100%;
  height: 3px;
  position: absolute;
  z-index: 1;
}

.bg-scene {
  width: 100%;
  height: 100%;
  background-image: url('/assets/pokeball.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  color: gainsboro;
}
