.auth-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
}

.auth-container {
  box-shadow: #0000003d 0px 3px 8px;
  margin: auto;
  max-width: 400px;
  width: 100%;
  height: fit-content;
  padding: 1.5rem;
  border-radius: 8px;
}
